<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le styles -->
    <link href="http://origen.freescale.net/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://origen.freescale.net/css/bootstrap_custom.css" rel="stylesheet">

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="http://origen.freescale.net/favicon.ico"/>
    <link rel="icon" type="image/ico" href="http://origen.freescale.net/favicon.ico"/>
    <script src="http://origen.freescale.net/js/jquery.min.js"></script>
    <script src="http://origen.freescale.net/js/bootstrap.min.js"></script>
  </head>

  <body class="freescale">
    SUB_TOPIC_CONTENT_HERE
  </body>
</html>
